.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 70vh;
  padding: 2rem 1rem;
}

.title {
  margin: 0;
  padding: 0;
  padding-bottom: 24px;
  color: white;
  font-weight: 500;
  font-size: 34px;
  text-align: center;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  margin-top: 24px;
}

.links {
  margin-top: 80px;
  color: #aaa;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
}

.links a {
  margin-left: 0.25rem;
  color: #4d4dff;
  font-weight: 500;
  text-decoration: underline;
  transition: color 0.2s ease;
}

.links a:hover {
  color: #c684ff;
}
