.main {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 28rem;
  margin: 0;
  overflow-y: auto;
  list-style: none;
  scrollbar-width: thin;
  scrollbar-color: #8585ad #2f2f37;
}

ul {
  margin: 10px;
  padding: 0;
}

.ingredientItem {
  display: flex;
  align-items: center;
}

.drag {
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
}
